<div class="intro">
  <h5>
    Add below email to
    <a href="https://www.amazon.com/manageyourkindle">
        Approved E-mail List
    </a>
  </h5>
  <h5>
    <span id="copy-link" class="tooltipped"
      data-clipboard-text="noreply@mail-epub-to-kindle.com"
      data-position="bottom" data-tooltip="click to copy">
      noreply@mail-epub-to-kindle.com
    </span>
  </h5>
</div>

<%= form_for @task do |f| %>
  <%= render "shared/errors", object: @task %>
  <div class="input-field">
    <%= f.email_field :email, class: "validate", required: true %>
    <%= f.label :email, 'Your Kindle email', data: { error: "wrong" } %>
  </div>
  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <%= f.file_field :ebook, required: true, accept: 'application/epub+zip' %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" />
    </div>
  </div>
  <div class="center">
    <%= f.submit "send", class: "btn" %>
  </div>
<% end %>
<div class="note">
  <p>
    File size is up to 12 MB.
    Email and file would be deleted after task completed.
  </p>
</div>

<script type="text/javascript">
  var client = new ZeroClipboard(document.getElementById("copy-link"));
  client.on( "ready", function( readyEvent ) {
    client.on( "aftercopy", function( event ) {
      Materialize.toast("Email copied!", 4000);
    } );
  } );

  $('#task_ebook').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 12) {
      alert('Maximum file size is 12MB. Please choose a smaller file.');
    }
  });
</script>
