<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mail Epub to Kindle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <%= render 'shared/flash_toast' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>
